@import "../../styles/variables";
@import "../../styles/mixins";

.site-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: $siteHeaderHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: $dark;
  transition: all 0.3s;

  &[data-scrolled="true"] {
    box-shadow: $shadow;
  }

  @include medium {
    height: 0.9 * $siteHeaderHeight;
    & > button:nth-of-type(1) {
      height: 45px;
      & > span {
        padding: 5px 15px;
      }
    }
  }

  @include tiny {
    height: 0.8 * $siteHeaderHeight;
    padding: 0px 10px;

    & > button:nth-of-type(1) {
      height: 30px;
      min-width: 80px;
      & > span {
        padding: 5px 10px;
      }
    }
  }
}

.site-nav {
  display: flex;
  align-items: flex-end;

  @include tiny {
    flex-direction: column;
    justify-content: flex-start;
  }

  & > div:not(:last-child) {
    margin-right: 20px;

    @include tiny {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 60px;

  @include tiny {
    flex-direction: row;
    align-items: flex-end;
  }

  &:hover {
    cursor: pointer;
  }

  &__icon {
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5px;

    @include tiny {
      order: 2;
      height: 30px;
      margin: 0;
      margin-left: 3px;
    }

    &--profile {
      background-position: top;
      background-size: 60px;
      @include tiny {
        background-size: 20px;
      }
    }

    &--logout {
      background-position: bottom;
      background-size: 63px;
      @include tiny {
        background-size: 20px;
      }
    }
  }

  &__text {
    display: block;
    margin-top: 2px;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: bold;
    color: $light;

    @include tiny {
      order: 1px;
    }

    &:hover {
      transition: all 0.3s;
      text-decoration: underline;
    }
  }
}
