// palette
$dark: #363440;
$light: #f3f3f3;
$white: #fff;
$error: #db4b4b;

// sizes
$radius: 10px;
$siteHeaderHeight: 125px;
$siteFooterHeight: 25px;

// effects
$shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
